<%-include ("../Include/admin_head.ejs")%>
    <%-include ("../Include/admin_header.ejs")%>

        <div class="app-wrapper">

            <div class="app-content pt-3 p-md-3 p-lg-4">
                <div class="container-xl">

                    <h1 class="app-page-title">Manage Student</h1>
                    
                </div>

            </div>
        </div>

        <!--//app-content-->
        <%-include ("../Include/admin_end.ejs")%>