<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="/img/cit_logo.png" type="image/png" sizes="16x16">


    <title>404 | Unauthorized</title>
    <style>
        /* Imported fonts */
        @import url('https://fonts.googleapis.com/css?family=Anton');
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        /* CSS */
        * {
            background-color: #222;
            font-family: 'Anton', sans-serif;
            margin: 0;
        }

        #main {
            text-align: center;
        }

        p {
            color: #ddd;
            font-family: 'Open Sans' sans-serif !important;
            margin: 0 15px;
        }

        h1 {
            text-transform: uppercase;
            color: #0077ff;
            font-size: 48px;
        }

        h3>a {
            text-transform: uppercase;
            font-size: 18px;
            color: #000;
            background-color: #0077ff;
            text-decoration: none;
            padding: 1px 5px;
            border: 1px solid #0077ff;
            border-radius: 5px;
        }

        .header {
            margin: 4rem auto;
        }
        .btn {
            margin-top: 2rem;
            display: inline-block;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 22px;
                font-size: 18px;
                height: 40px;
                
                color: #fff;
                text-align: center;
                line-height: normal;
                background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
                border-radius: 50px;
                transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
               
                
        }
    </style>
</head>


<body>
    <main id="main">
        <div class="header">
            <h1>403 - Unauthorized!</h1>
        </div>
        <p>Access Denied. You Do Not Have The Permission To Access This Page On This Server</p>
        <button class="btn" onclick="history.back()">Click here to go back</button>


    </main>
</body>

</html>