<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="/img/cit_logo.png" type="image/png" sizes="16x16">


    <title>404 | Page not found</title>
    <style>
        /* Imported fonts */
        @import url('https://fonts.googleapis.com/css?family=Anton');
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        /* CSS */
        body {
            background-color: #222;
            font-family: 'Anton', sans-serif;
            margin: 0;
        }

        #main {
            text-align: center;
        }

        p {
            color: #ddd;
            font-family: 'Open Sans' sans-serif !important;
            margin: 0 15px;
        }

        h1 {
            text-transform: uppercase;
            color: #0077ff;
            font-size: 48px;
        }

        h3>a {
            text-transform: uppercase;
            font-size: 18px;
            color: #000;
            background-color: #0077ff;
            text-decoration: none;
            padding: 1px 5px;
            border: 1px solid #0077ff;
            border-radius: 5px;
        }
        .header {
            margin: 4rem auto;
        }
    </style>
</head>


<body>
    <main id="main">
         <div class="header">
        <h1>404 - Page not found!</h1>
        </div>
        <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
        <h3><a href="/">Click here to go back home</a></h3>
        

    </main>
</body>

</html>