<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CIT Gatepass</title>
  <link px-2 rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link px-2 rel="stylesheet" href="../public/css/style.css">
</head>

<body>

  <div class="app app-profile">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm fixed-top">
      <div class="container-lg">
        <a class="navbar-brand" href="#">
          <img src="../public/img/app_logo.png" alt="" height="40px" width="200px" class="rounded">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
            <button type="button" class="btn-close mt-2 me-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body align-items-center">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Health</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                    class="rounded-circle me-2">Noel Michael
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Main -->
    <main id="main">
      <section class="pt-4 pb-4">
        <div class="container-lg">
          <div class="row mb-md-4">
            <div class="col-12 col-lg-8 text-center text-lg-start">
              <h2 class="">Welcome, Noel Michael T. Talub </h2>
              <p class="lead">
                Lorem ipsum massa in auctor molestie, magna lorem semper mauris, a
                venenatis turpis purus vel metus.
              </p>
            </div>
          </div>
          <div class="row d-flex mb-5">
            <div class="col-10 mx-auto col-md-4">
              <div class="my-3 card card-body shadow p-4 ">
                <div class="row align-items-center d-flex text-md-center text-lg-start">
                  <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                    <div class="icon-wrap text-primary my-3">
                      <i
                        class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-tint fa-lg"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 mt-3 mt-lg-0">
                    <h4 class="">
                      Lorem ipsum dolor
                    </h4>
                    <p class=" mb-0">
                      Praesent mollis, massa in auctor molestie
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10 mx-auto col-md-4">
              <div class="my-3 card card-body shadow p-4">
                <div class="row align-items-center text-md-center text-lg-start">
                  <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                    <div class="icon-wrap text-primary my-3">
                      <i
                        class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-lock fa-lg"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 mt-3 mt-lg-0">
                    <h4 class="">
                      Etiam sed iaculis
                    </h4>
                    <p class="  mb-0">
                      Praesent mollis, massa in auctor molestie
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10 mx-auto col-md-4">
              <div class="my-3 card card-body shadow p-4">
                <div class="row align-items-center text-md-center text-lg-start">
                  <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                    <div class="icon-wrap text-primary my-3">
                      <i
                        class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-mobile fa-lg"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 mt-3 mt-lg-0">
                    <h4 class="">
                      Auctor molestie
                    </h4>
                    <p class="  sm-font-size text-dark-gray mb-0">
                      Praesent mollis, massa in auctor molestie
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3 align-items-center justify-content-center">
            <div class="col text-center">
              <a href="#" class="btn btn-primary  btn-rounded shadow py-3 px-5">Lorem
                Ipsum</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Main -->
  </div>
  <!-- Navbar -->

  </div>
  <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>

</html>