<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/cit_logo.png" type="image/png" sizes="16x16">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light border-bottom py-1">
            <div class="container-lg">
                <a href="/" class="navbar-brand">
                    <img src="/img/mmsu_logo.png" alt="Logo" height="45" class="d-inline-block align-text-center">
                    <div class="d-inline-block ">Gatepass Management System</div>
                </a>
            </div>
        </nav>
    </header>

    <section class="align-items-center d-flex bg-dark"
        style="min-height: 100vh;background-size: cover; background-image: linear-gradient(to bottom, rgb(118 118 118), rgb(18 0 0 / 72%)), url(/img/bg.jpg);">
        <div class="container-lg">
            <div class="row  justify-content-start d-flex ">
                <div class="col-12 col-md-8  ">
                    <h1 class="display-4  text-light mb-2 mt-5"><strong>An Automated Gatepass for CIT Students.</strong>
                    </h1>
                    <p class="lead  text-light mb-3">Welcome to the College of Industrial Technology!
                        Please enter your information to access the gatepass
                        portal.
                    </p>
                    <p>


                        <button type="button" class="btn btn-outline-light m-2 ms-0 " data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Enter to Login
                        </button>

                        <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login account</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="btn-row mb-3"><a class="btn btn-success w-100"
                                            href="/student/login"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-person"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                            </svg> Login as Student</a>

                                    </div>
                                    <div class="btn-row mb-3"> <a class="btn btn-secondary w-100"
                                            href="/faculty/login"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-person-gear"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                                            </svg> Login as Faculty</a></div>
                                    <div class="btn-row mb-3"> <a type="button" class="btn btn-danger w-100"
                                            href="/admin/login"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-person-lock"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 5.996V14H3s-1 0-1-1 1-4 6-4c.564 0 1.077.038 1.544.107a4.524 4.524 0 0 0-.803.918A10.46 10.46 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h5ZM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z" />
                                            </svg> Login as Admin</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    </p>

                </div>
            </div>
        </div>
    </section>

    <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>