<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CIT Gatepass</title>
  <link px-2 rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link px-2 rel="stylesheet" href="../public/css/style.css">
</head>

<body>

  <div class="app app-profile">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
      <!-- Container wrapper -->
      <div class="container-lg">
        <!-- Toggle button -->
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse ms-2 ms-lg-0" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand ms-2 ms-lg-0 mt-3 mt-lg-0" href="#">
            <img src="../public/img/app_logo.png" alt="" height="30px" class="rounded">
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mt-2 mb-2 mb-lg-0 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>

        </div>
        <!-- Left links -->
        <div class="flex-shrink-0 dropdown ms-2">
          <a href="#" class="d-block link-dark p-2 text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false" id="profile-out">Noel Michael T. Talub
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small shadow">
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Main -->
    <main id="main">
      <section class="pt-4 pb-4">
        <div class="container-lg">
          <div class="row mb-md-4">
            <div class="col-12 col-lg-8 text-center text-lg-start">
              <h2 class="">Welcome, Noel Michael T. Talub </h2>
              <p class="lead">
                Lorem ipsum massa in auctor molestie, magna lorem semper mauris, a
                venenatis turpis purus vel metus.
              </p>
            </div>
          </div>
          <div class="row d-flex mb-5">
            <div class="col-10 mx-auto col-md-4">
              <div class="my-3 card card-body shadow p-4 ">
                <div class="row align-items-center d-flex text-md-center text-lg-start">
                  <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                    <div class="icon-wrap text-primary my-3">
                      <i
                        class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-tint fa-lg"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 mt-3 mt-lg-0">
                    <h4 class="">
                      Lorem ipsum dolor
                    </h4>
                    <p class=" mb-0">
                      Praesent mollis, massa in auctor molestie
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10 mx-auto col-md-4">
              <div class="my-3 card card-body shadow p-4">
                <div class="row align-items-center text-md-center text-lg-start">
                  <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                    <div class="icon-wrap text-primary my-3">
                      <i
                        class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-lock fa-lg"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 mt-3 mt-lg-0">
                    <h4 class="">
                      Etiam sed iaculis
                    </h4>
                    <p class="  mb-0">
                      Praesent mollis, massa in auctor molestie
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10 mx-auto col-md-4">
              <div class="my-3 card card-body shadow p-4">
                <div class="row align-items-center text-md-center text-lg-start">
                  <div class="col-12 col-sm-3 col-md-3 text-center px-0">
                    <div class="icon-wrap text-primary my-3">
                      <i
                        class="icon p-4 border-primary bg-light text-primary md-font-size rounded-circle fa fa-mobile fa-lg"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 mt-3 mt-lg-0">
                    <h4 class="">
                      Auctor molestie
                    </h4>
                    <p class="  sm-font-size text-dark-gray mb-0">
                      Praesent mollis, massa in auctor molestie
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3 align-items-center justify-content-center">
            <div class="col text-center">
              <a href="#" class="btn btn-primary  btn-rounded shadow py-3 px-5">Lorem
                Ipsum</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Main -->
  </div>
  <!-- Navbar -->

  </div>
  <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>

</html>