<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIT Healtpass</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link px-2 rel="stylesheet" href="css/main.css" />
</head>

<body>
    <div class="app">
        <div class="container-lg">

            <div class="row align-items-center justify-content-center py-4">
                <div class="col-lg-5 col-md-6">
                    <div class="form-container bg-white shadow rounded-4 px-4 py-1">
                        <img src="img/app2.svg" width="220px" alt="logo"
                            class="img-fluid d-block mx-auto mt-4 mb-4">
                        <h4 class="my-3 ">Login to your account</h4>
                        <form class="needs-validation" novalidate>
                            <div class="form-group">
                                <div class="mb-2">
                                    <label for="studentNumber" class="form-label">Student Number</label>
                                    <input type="text" class="form-control custom-form" name="studentNumber " autofocus
                                        required>
                                    <div class="invalid-feedback">
                                        Student number is required
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control custom-form" name="password" required>
                                    <div class="invalid-feedback">
                                        Password is required
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-success w-100" id="btn-login">
                                    Login</button>
                            </div>
                        </form>

                        <div class="mt-4">
                            <a class="ms-1 text-decoration-none text-success" href="/register">Forgot Password?</a>

                            <a class="ms-1 text-success text-decoration-none float-end" href="/register">New User?</a>
                        </div>
                        <footer class="py-4">
                            <div class="text-center text-muted">MMSU CIT Gatepass © 2022</div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>

</html>