<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIT Healtpass</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link px-2 rel="stylesheet" href="css/main.css" />
</head>

<body>
    <header>
        <nav class="navbar pt-3">
            <div class="container-lg">
                <a href="/">
                    <img src="img/app2.svg" height="55" alt="image">
                </a>
            </div>
        </nav>
    </header>

    <main class="app">
        <div class="container-lg">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-6 p-0">
                    <div class="form-container bg-white px-4 py-1 mt-5">

                        <h4 class="mb-3 mt-5">Sign In</h4>
                        <form class="needs-validation" novalidate>
                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="Student Number"
                                        name="studentNumber" required autofocus>
                                    <label for="studentNumber">Student Number</label>
                                    <div class="invalid-feedback">
                                        Student ID is required
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" placeholder="Password" name="password"
                                        required>
                                    <label for="password">Password</label>
                                    <div class="invalid-feedback">
                                        Password is required
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-success w-100" id="btn-login">
                                    Login</button>
                            </div>
                        </form>

                        <div class="mt-4 mb-5">
                            <a class="ms-1 text-decoration-none text-success" href="/register">Forgot Password?</a>

                            <a class="ms-1 text-success text-decoration-none float-end" href="/register">New User?</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class=" py-3">
        <div class="container-lg">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="col-md-6 mb-0 fw-bold">© CIT SHMC 2022</p>

                <ul class="nav col-md-6 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Team</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy Policy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>

                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/validator.js"></script>
</body>

</html>