<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIT - Gatepass System</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/020dbcd45c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="app">
        <section class="pt-5 pb-5">
            <div class="container-lg">
                <div class="row align-items-center justify-content-between px-2">
                    <div class="col-12 col-md-5 pb-3 ">
                        <img src="img/mmsu_logo.png" alt="" width="60px" class="img-fluid">
                        <img src="img/cit_logo.png" alt="" width="60px" class="img-fluid">
                        <h1 class="display-2 mb-3 mt-3">Gatepass Management System</h1>
                        <p class="text-dark">Welcome to the College of Industrial Technology!<br>
                            Please enter your information to access the gatepass portal.</p>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-7">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <h3 class="card-title mb-4 mt-1 fw-bold text-dark">Log in</h3>
                                <form>
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <input type="text" class="form-login form-control"
                                                placeholder="Student number" autofocus>
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-login form-control"
                                                placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <button type="submit" class="btn btn-primary w-100">
                                            Login</button>
                                    </div>
                                </form>
                                
                                <div class="mt-4">
                                    <p class="text-center">Dont' have an account?<a
                                            class="ms-1 text-decoration-none" href="/register">Register</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>