<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Registration Form</title>
</head>

<body>
    <header>
        <nav class="navbar pt-3">
            <div class="container-lg">
                <a href="/">
                    <img src="img/app2.svg" height="55" alt="image">
                </a>
            </div>
        </nav>
    </header>

    <main class="app">
        <div class="container-lg">
            <div class="row py-4">
                <div class="col-md-5 col-lg-6 mb-3 ">
                    <img src="img/splitimage.svg" alt="" width="300px" class="img-fluid mx-auto mb-3 d-none d-md-block">

                </div>
                <div class="col-md-7 col-lg-6 ">
                    <div class="form-container bg-white px-2 px-md-4 py-1">

                        <h2 class="fw-bold mb-0 mt-3">Create an Account</h2>
                        <p class="text-muted mb-3">Create your account to continue.

                        </p>
                        <form class="row gy-2 gx-3 needs-validation" novalidate>

                            <div class="col-md-6">
                                <label for="firstname" class="form-label">First Name</label>
                                <input type="text" class="form-control custom-form" id="firstname" name="firstname"
                                    minlength="2" autofocus required>
                                <div class="invalid-feedback">
                                    Please enter your firstname
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="lastname" class="form-label">Last Name</label>
                                <input type="text" class="form-control custom-form" id="lastname" name="lastname"
                                    minlength="2" required>
                                <div class="invalid-feedback">
                                    Please enter your lastname
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control custom-form" id="email" name="email" required>
                                <div class="invalid-feedback">
                                    Please enter a valid email address
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="phonenumber" class="form-label">Phone Number</label>
                                <input type="number" class="form-control custom-form" id="phonenumber"
                                    name="phonenumber" minlength="11" required>
                                <div class="invalid-feedback">
                                    Please enter your phone number
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="studentnumber" class="form-label">Student Number</label>
                                <input type="text" class="form-control custom-form" id="studentnumber"
                                    name="studentnumber" minlength="9" required>
                                <div class="invalid-feedback">
                                    Please enter your student number
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control custom-form" id="password" name="password"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                <div class="invalid-feedback">
                                    Must contain at least one number and one uppercase and lowercase letter, and at
                                    least 8 or more characters
                                </div>
                            </div>
                            <div class="col-12 mt-3 ">
                                <button type="submit" class="btn btn-success w-100" id="btn-reg">Create
                                    Account</button>
                            </div>
                            <div class="col-12 mt-4 mb-3">
                                <p class="text-dark text-center">Already have an account?<a
                                        class="ms-1 text-success text-decoration-none" href="/">Login</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class=" py-3 my-2">
        <div class="container-lg">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="col-md-6 mb-0 fw-bold">© CIT SHMC 2022</p>

                <ul class="nav col-md-6 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Team</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy Policy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>

                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
            </div>

        </div>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>

</html>