@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");


body {
	font-family: "Inter";
}

.form-container {
	border: 1px solid #dee2e6;
	border-radius: 0.375rem;
	
}

.form-label {
	font-size: 0.913rem;
	margin-bottom: 0;
}

.form-floating .form-label {
	color: #333;
}

.form-control:focus {
	border-color: #6c757d;
	box-shadow: none!important;
} 

#btn-login,
#btn-reg {
	padding: 0.6rem;
}

.was-validated .form-control:valid {
	background-image: none;
	border-color: #ced4da;
}

.invalid-feedback {
	font-size: 0.785rem;
}


@media (max-width: 576px) {
	.form-container {
		border: none;
	}
}

