.app {
	background: url("../img/wave-haikei.svg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 100vh;
}

.form-login,
.form-reg {
	height: 46px;
	padding: 0 14px;
	font-size: 15px;
	color: black;
}

.form-control:focus {
	color: black;
	border-color: #0066ff;
	box-shadow: 0 0 0 0rem #0066ff;
}

.btn-reg {
	border-color: #c5c5c5;
}