.app {
	background: url("../img/wave-haikei.svg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 100vh;
}


.form-control:focus {
	border-color: #212121 ;
	box-shadow: 0 0 0 0.05rem #212121;
}

.student-form {
	font-size: 1.025rem;
}