#main {
	margin-top: 75px;
	min-height: calc(100vh - 123px);
}

.app {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 100vh;
}
.form-login,
.form-reg {
	height: 46px;
	padding: 0 14px;
	font-size: 15px;
	color: black;
}

.form-control:focus {
	color: black;
	border-color: #0066ff;
	box-shadow: 0 0 0 0rem #0066ff;
}

.btn-reg {
	border-color: #c5c5c5;
}

.navbar-brand {
	color: #121212;
}

.img-profile {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 8px solid rgba(74, 201, 55, 0.349);
}

.nav-item {
	font-size: 1rem;
}

.nav-link:hover {
	color: #0d6efd;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

@media (max-width: 768px) {  
	.nav-item {
		font-size: 1.5rem;
	}
  }