<header>
    <nav class="navbar pt-3 pb-4">
        <div class="container-lg">
            <a href="/" class="ms-auto me-auto">
                <img src="/img/app2.svg" height="50" alt="image">
            </a>
        </div>
    </nav>
</header>
