<header>
    <nav class="navbar pt-3">
        <div class="container-lg">
            <a href="/">
                <img src="img/app2.svg" height="55" alt="image">
            </a>
        </div>
    </nav>
</header>
