<header>
    <nav class="navbar navbar-light border-bottom">
        <div class="container-lg">
            <a href="/Student/login" class="navbar-brand">
                <img src="/img/mmsu_logo.png " height="40" alt="image">
                <img src="/img/cit_logo.png " height="40" alt="image">
                CIT GPMS
            </a>
        </div>
    </nav>
</header>
