<header>
    <nav class="navbar navbar-light border-bottom py-1">
        <div class="container-lg">
            <a href="/Student/login" class="navbar-brand">
                <img src="/img/mmsu_logo.png" alt="Logo" height="45" class="d-inline-block align-text-center">
                <div class="d-inline-block ">Gatepass Management System</div>
            </a>
        </div>
    </nav>
</header>
