<header>
    <nav class="navbar navbar-light border-bottom bg-white navbar-expand-md fixed-top py-1">
        <div class="container-lg">
            <a class="navbar-brand" href="/student/dashboard">
                <img src="/img/mmsu_logo.png" alt="Logo" height="45" class="d-inline-block align-text-center">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header ">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-2">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/student/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/student/health">Health</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/student/profile">Profile</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end d-lg-flex ms-md-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/student/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>  
        </div>
    </nav>
</header>