<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <link px-2 rel="stylesheet" href="/css/bootstrap.min.css" />
    <link px-2 rel="stylesheet" href="/css/student.css" />
    <link rel="icon" href="/img/cit_logo.png" type="image/png" sizes="16x16">
</head>

<body>