<header>
    <nav class="navbar navbar-light bg-white navbar-expand-md border-bottom fixed-top">
        <div class="container-lg">
            <a class="navbar-brand" href="/student_dashboard">
                <img src="img/app2.png" alt="" height="36px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-2">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="student_health.html">Health</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="student_profile.html">Profile</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end d-lg-flex ms-md-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>  
        </div>
    </nav>
</header>