<%-include ("../Include/student_head.ejs")%>
    <%-include ("../Include/student_header.ejs")%>
        <!-- Main -->
        <main id="main">
            <div class="container-lg">
                <div class="page-header pt-4">
                    <div class="row mb-md-1">
                        <div class="col-12 col-lg-10 text-start">
                            <h2 class="fw-bold">Health Monitoring Checklist</h2>
                            <p class="">Fillout your latest health information</p>
                        </div>
                    </div>
                </div>
                <div class="page-content my-4">
                    <div class="alert alert-success" role="alert">
                        Date Submitted: October 2, 2022 (Sunday)
                    </div>
                    <form method="post" onsubmit="return handleData()">

                        <h5 class="mt-3 fw-bold">Symptoms</h5>
                        <section id="symptoms" class="mb-4 shadow-sm p-4 bg-body rounded border">
                            <div class="form-group">
                                <h6>Do you have the following symptoms in the past twenty four (24) hours? Multiple
                                    answers may be chosen <span class="req-form">*</span>
                                </h6>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="None" id="nosymptom"
                                                name="symptoms[]" onClick="noSymptoms(this)">
                                            <label class="form-check-label" for="nosymptom">
                                                None
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Fever" id="fever"
                                                name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="fever">
                                                Fever
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Cold" id="cold"
                                                name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="cold">
                                                Cold
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Cough" id="cough"
                                                name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="cough">
                                                Cough
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="No Smell"
                                                id="nosmell" name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="nosmell">
                                                Lost of taste or smell
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Diarrhea"
                                                id="diarrhea" name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="diarrhea">
                                                Diarrhea
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Sore Throat"
                                                id="sorethroat" name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="sorethroat">
                                                Sore throat
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Difficulty Breathing"
                                                id="diffbreath" name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="diffbreath">
                                                Difficulty of Breathing
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Muscle Pain"
                                                id="bodyache" name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="bodyache">
                                                Body Ache
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Nausea" id="nausea"
                                                name="symptoms[]" onClick="haveSymptoms(this)">
                                            <label class="form-check-label" for="nausea">
                                                Nausea
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div style="visibility:hidden; color:red; " id="chk_option_error">
                                    Please select at least one option.
                                </div>
                            </div>
                        </section>
                        <h5 class="mt-3 fw-bold">Exposure</h5>
                        <section id="exposure" class="mb-4 shadow-sm p-4 bg-body rounded border">

                            <div class="form-group">
                                <h6>HISTORY OF TRAVEL/VISIT FROM ANY PLACE OUTSIDE ILOCOS NORTE? <span
                                        class="req-form">*</span>
                                </h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="historyTravel"
                                        id="historyTravelYes" value="YES" required>
                                    <label class="form-check-label" for="historyTravelYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="historyTravel"
                                        id="historyTravelNo" value="NO" required>
                                    <label class="form-check-label" for="historyTravelNo">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <h6>VISITORS/RELATIVES THAT COME FROM OTHER PLACE? <span class="req-form">*</span>
                                </h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="pplFromOtherPlace"
                                        id="pplFromOtherPlaceYes" value="YES" required>
                                    <label class="form-check-label" for="pplFromOtherPlaceYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="pplFromOtherPlace"
                                        id="pplFromOtherPlaceNo" value="NO" required>
                                    <label class="form-check-label" for="pplFromOtherPlaceNo">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <h6>EXPOSURE TO ANYONE WITH SYMPTOMS OF FEVER, COUGH, COLDS
                                    OR DIARRHEA IN YOUR HOME, WORK, SCHOOL, OR ANY GATHERINGS
                                    (BITHDAY, WAKES, FIESTA, ETC.)? <span class="req-form">*</span>
                                </h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exposureAnyone"
                                        id="exposureAnyoneYes" value="YES" required>
                                    <label class="form-check-label" for="exposureAnyoneYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exposureAnyone"
                                        id="exposureAnyoneNo" value="NO" required>
                                    <label class="form-check-label" for="exposureAnyoneNo">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <h6>TAKING CARE OF RELATIVE/PATIENT AT HOME WITH SYMPTOMS OF
                                    FEVER, COUGH, COLDS OR DIARRHEA? <span class="req-form">*</span>
                                </h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="takeCarePeople"
                                        id="takeCarePeopleYes" value="YES" required>
                                    <label class="form-check-label" for="takeCarePeopleYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="takeCarePeople"
                                        id="takeCarePeopleNo" value="NO" required>
                                    <label class="form-check-label" for="takeCarePeopleNo">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <h6>VISITED/MONITORED BY BARANGAY HEALTH WORKERS/OFFICIALS? <span
                                        class="req-form">*</span>
                                </h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="monitorByBrgy"
                                        id="monitorByBrgyYes" value="YES" required>
                                    <label class="form-check-label" for="monitorByBrgyYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="monitorByBrgy"
                                        id="monitorByBrgyNo" value="NO" required>
                                    <label class="form-check-label" for="monitorByBrgyNo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </section>
                        <div class="agree px-1">

                            <p>
                                I hereby certify that all information is true and complete. I do understand that
                                any false/wrong information can be used by the court against me under Article 161
                                of the Revised Penal Code of the Philippines, RA 11332 “Law on Reporting
                                Communicable Diseases”.
                            </p>

                            <button type="submit" class="btn btn-primary w-lg-100 w-md-50 mt-2 mb-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </main>

        <%-include ("../Include/student_end.ejs")%>