<%-include ("../Include/student_head.ejs")%>
    <%-include ("../Include/student_header.ejs")%>
        <!-- Main -->
        <main id="main">
            <div class="container-lg">
                <div class="page-header pt-4">
                    <div class="row mb-md-1">
                        <div class="col-12 col-lg-10 text-start">
                            <h2 class="fw-bold">Update Password</h2>
                            <p class="">
                                Change password for security
                            </p>
                        </div>

                    </div>
                </div>
                <div class="page-content mt-1 mb-4">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card bg-white shadow mb-4">

                                <div class="card-body">

                                    <form method="post"  action="/student/profile/update_password"  class="needs-validation" novalidate>
                                        <h6 class="heading-small text-muted mb-4">Security</h6>
                                        <div class="row">
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label class="form-label fw-bold" for="password">New Password</label>
                                                    <input class="form-control" type="password" required
                                                   
                                                        name="password">
                                                        <div class="invalid-feedback">
                                                            Must contain at least one number and one uppercase and lowercase
                                                            letter,
                                                            and at
                                                            least 8 or more characters
                                                        </div>
                                                </div>

                                            </div>


                                        </div>


                                        <hr class="my-4">
                                        <button type="submit" class="btn btn-primary btn-sm">Update Password</button>
                                        <a href="/student/profile" class="card-link btn btn-secondary btn-sm">Cancel</a>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </main>
        <%-include ("../Include/student_end.ejs")%>